{% extends 'admin_templates/dashboard_base.html' %}
{% block title %}
Dashboard - {{ current_user.name }} Admin
{% endblock %}

{% block css_link %}
<link rel="stylesheet" href="/static/styles/admin/dash_board.css">
{% endblock %}

{% block body %}
<!-- welcomming message -->
<div class="container-fluid hero-header">
    <div class="col-12 col-md-8 header-title">
        <div>
            <img src="/static/admin/images/default.png" alt="Admin Profile Image" class="profile_image">
        </div>
        <h2>Welcome back, Mojtaba</h2>
    </div>
    
    <div class="col-12 col-md-4 header-btns">
        <div class="settings">
            <i class="bi bi-gear-fill"></i>
            <a href="#">Settings</a>
        </div>
        <div class="usr-profile">
            <i class="bi bi-person-fill"></i>
            <a href="#">Profile</a>
        </div>
    </div>

</div>
<!-- hero content -->
<main class="container-fluid hero-content">
    <section class="container-fluid sumery"></section>
    <section class="container-fluid recent-edits"></section>
    <aside class=""></aside>
</main>
{% endblock %}
<script src="/static/script/admin/dash_board.js"></script>
{% block js_link %}

{% endblock %}
