#slide-1{
    background-image: url('/static/images/crisis_1.jpg');
}
#slide-2{
    background-image: url('/static/images/crisis_2.jpg');
}
#slide-3{
    background-image: url('/static/images/crisis_3.jpg');
}
