#slide-1{
    background-image: url('/static/images/health_1.jpg');
}
#slide-2{
    background-image: url('/static/images/health_2.jpg');
}
#slide-3{
    background-image: url('/static/images/health_3.jpg');
}
#slide-4{
    background-image: url('/static/images/health_4.jpg');
}
