.hero-header {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-top: 40px;
}
.header-title {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
    text-overflow: ellipsis;
}
.profile_image {
    width: 64px;
    height: 64px;
    border: none;
    border-radius: 50%;
}
.header-title h2 {
    margin: 0;
    align-self: flex-start;
    font-size: 34px;
    font-weight:600;
    color: #272727;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.header-btns {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* gap: 13px; */
}
.header-btns .settings,
.header-btns .usr-profile{
    padding: 10px;
    border: none;
    border-radius: 15px;
    width: 100%;
    max-width: 120px;
    transition: color 0.5s ease-in-out;
}
.header-btns .settings {
    background-color: #1f1f1f;
    margin-right: 15px;
}
.header-btns .usr-profile {
    background-color: hsl(217, 33%, 23%);
}
.header-btns .settings a,
.header-btns .usr-profile a{
    text-decoration: none;
    outline: none;
    font-size: 14px;
    color: #f2f2f2;
    /* padding-left: 1em; */
}