{% extends 'base.html' %}
{% block title %}
Causes
{% endblock %}

{% block css_link %}
<link rel="stylesheet" href="/static/styles/causes.css">
{% endblock %}

{% block body %}
<!-- header section -->
<div class="container-fluid header-container">
    <section class="container body-section header-title-container">
        <h4 class="header-title">
            <span>Causes</span>
            <a class="header-link" href="{{url_for('home_page')}}">
                Home  <i class="fa-solid fa-arrow-right-long fa-xs d-inline-block" style="color: #f2f2f2; text-align:center"></i>
            </a> 
            Causes
        </h4>
    </section>
</div>
<!-- end header -->
<!-- causes breif title section -->
<div class="container-fluid mt-5">
    <section class="container-fluid body-section causes-brief">
        <div class="row">
            <h4 class="headline-bg">Our Programs</h4>
        </div>
        <div class="brief-content">
            <h1 class="main-headline">
                To <span>Empower</span> African citizens', families'<br> 
                and communities' rights
            </h1>
           <h2>
                OASD focus on many programs and social services including 
                `but not concluded to` <img class="arrow" src="/static/images/icons/right-arrow.png" alt="">
           </h2>
        </div>
    </section>
</div>
<!-- end causes breif title -->
<!-- causes breif section -->
<div class="container-fluid mt-5 causes-container">
    <section class="container-fluid body-section causes-brief">
        <div class="cause-wraper">
            <div class="cause-brief education">
                 <div class="cause-logo">
                     <img src="/static/images/icons/education.png" alt="book icon">
                 </div>
                 <div class="cause-info">
                     <h2 class="main-headline"><span>Education</span></h2>
                     <p class="secondry-pargraph">
                         is the cornerstone of individual and societal development, 
                         providing the necessaryknowledge and skills for personal 
                         growth and societal progress. 
                         <span>It empowers individuals tocontribute meaningfully to their 
                            communities</span>
                     </p> <!-- -->
                     <a href="/causes/education" class="donate">Know More</a>
                 </div>
            </div>
            <div class="cause-brief health-care">
                <div class="cause-logo">
                    <img src="/static/images/icons/health.png" alt="medical icon">
                </div>
                <div class="cause-info">
                    <h2 class="main-headline"><span>Health</span> Care</h2>
                    <p class="secondry-pargraph">
                        is a fundamental aspect of well-being, encompassing physical, 
                        mental, and social dimensions. Accessible and quality healthcare 
                        ensures that individuals can lead fulfillinglives, free from 
                        preventable diseases and ailments
                    </p>
                    <a href="/causes/health-care" class="donate">Know More</a>
                </div>
            </div>
            <div class="cause-brief culture">
                <div class="cause-logo">
                    <img src="/static/images/icons/culture.png" alt="culture icon">
                </div>
                <div class="cause-info">
                    <h2 class="main-headline"><span>Culture</span></h2>
                    <p class="secondry-pargraph">
                        on the other hand, shapes the identity of societies, 
                        preserving traditions, fosteringcreativity, and promoting diversity. 
                        It serves as a unifying force, fostering a sense of belongingand 
                        understanding among people, enriching their lives and connecting 
                        themto their sharedheritage
                    </p>
                    <a href="/causes/culture" class="donate">Know More</a>
                </div>
            </div>
            <div class="cause-brief crisis">
                    <div class="cause-logo">
                        <img src="/static/images/icons/crisis.png" alt="craked house icon">
                    </div>
                    <div class="cause-info">
                        <h2 class="main-headline">Emergency <span>Relief</span></h2>
                        <p class="secondry-pargraph">
                            plays a crucial role in responding to unforeseen crises, 
                            providing immediateassistance to those affected by disasters, 
                            conflicts, or other emergencies. 
                            <span>It aims to addressthe urgent needs of individuals and 
                                communities, offering shelter, food, and</span>
                        </p>
                        <a href="/causes/emergency-relief" class="donate">Know More</a>
                    </div>
            </div>
        </div>
    </section>
</div>
<!-- end causes breis -->
 <!-- recent articles cards -->
 <div class="container-fluid recent-articles-container">
    <section class="container-fluid body-section recent-articles">
        <div class="row">
            <h4 class="headline-bg">
                Recently added
            </h4>
        </div>
        <div class="row">
            <h1 class="main-headline">
            </h1>
        </div>
        <div class="row card-container">
            <div class="card-element">
                <div class="card-image">
                    <h5 class="section section-education">Education</h5>
                    <img src="/static/artical_images/default_education.jpg" alt="Article Image">
                </div>
                <div class="card-content">
                    <h3 class="card-heading">
                        Knitting In Africa History
                    </h3>
                    <p class="card-text ">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        Est veniam at ullam provident sit aperiam, quos repudiandae?
                    </p>
                    <ul class="card-info">
                        <li>
                            <i class="fa-solid fa-calendar-day" style="color: inherit;"></i>
                            <br><strong>Date:</strong>22-Dec, 2023
                        </li>
                        <li>
                            <i class="fa-solid fa-handshake-angle" style="color: inherit;"></i>
                            <br><strong>With:</strong> UN Organization
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-element">
                <div class="card-image">
                    <h5 class="section section-health">Health Care</h5>
                    <img src="/static/artical_images/default_health.jpg" alt="Article Image">
                </div>
                <div class="card-content">
                    <h3 class="card-heading">
                        Knitting In Africa History
                    </h3>
                    <p class="card-text ">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        Est veniam at ullam provident sit aperiam, quos repudiandae?
                    </p>
                    <ul class="card-info">
                        <li>
                            <i class="fa-solid fa-calendar-day" style="color: inherit;"></i>
                            <br><strong>Date:</strong>22-Dec, 2023
                        </li>
                        <li>
                            <i class="fa-solid fa-handshake-angle" style="color: inherit;"></i>
                            <br><strong>With:</strong> UN Organization
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-element">
                <div class="card-image">
                    <h5 class="section section-culture">Culture</h5>
                    <img src="/static/artical_images/default_culture.jpg" alt="Article Image">
                </div>
                <div class="card-content">
                    <h3 class="card-heading">
                        Knitting In Africa History
                    </h3>
                    <p class="card-text ">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        Est veniam at ullam provident sit aperiam, quos repudiandae?
                    </p>
                    <ul class="card-info">
                        <li>
                            <i class="fa-solid fa-calendar-day" style="color: inherit;"></i>
                            <br><strong>Date:</strong>22-Dec, 2023
                        </li>
                        <li>
                            <i class="fa-solid fa-handshake-angle" style="color: inherit;"></i>
                            <br><strong>With:</strong> UN Organization
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row"><button class="donate" id="recent-article">Load More</button></div>
    </section>
</div>
<!-- end recent articles cards -->

{% endblock %}

{% block js_link %}
{% endblock %}